@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
}
/* header part */
#hero{
height: 652px;
background-image: url(../assets/Hero-bg.png);
background-size:cover ;
background-position: center;
display: flex;
justify-content: center;
text-align: center;
}
.cover-img-01{
 margin-top: 26px;
}
.subtitle{

}
.title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
text-align: center;
letter-spacing: 0%;
}
.title-details{
margin-top:24px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
letter-spacing: 0%;

}
.btn.container{

}
.btn{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
width: 244px;
height: 65px;
padding: 21px 24px 21px 24px;
border-radius: 8px;
background: rgb(13, 19, 33);
border: none;
margin-top:32px;
/* cursor: pointer; */


}
/* header End */

/* Main part */


